<div>
    <div class="jumbotron">
      <h1 class="display-3">Microsoft Hack</h1>
      <hr class="my-4" />
      <p>
        Find Missing Children using Microsoft Cognitive Services Face API
      </p>
    </div>
  
    <div class="card-group">
      <div class="card">
        <h4 class="card-header">Report a missing Person</h4>
        <div class="card-body">
          <div class="card-text">
            Report a missing Person.
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" [routerLink]="['/configuration']">Report a Child</a>
        </div>
      </div>
      <div class="card">
        <h4 class="card-header">Search for a missing person</h4>
        <div class="card-body">
          <div class="card-text">
            Search for a missing person.
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-success" [routerLink]="['/test-faces']">Search a Child</a>
        </div>
      </div>
  
    </div>